@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins',sans-serif;
}
:root{
    --primary-base: #339af0;
    --primary-tint: #d0ebff;
    --primary-shade: #1c7ed6;

    --grey-base: #495057;
    --grey-tint: #f1f3f5;
    --grey-shade: #212529;

    --white: #ffffff;
    --black: #000000;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    background-color: var(--white);
    position: relative;
    color: var(--black);
}

/* ----- HERO SECTION ----- */
.head-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ----- NAV BAR ----- */
nav{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    height: 7rem;
    padding: 2rem 0;
    background-color: var(--grey-shade);
    z-index: 5;
}
nav h1{
    color: var(--grey-tint);
    font-size: 3.25rem;
    cursor: pointer;
    transition: .5s;
}
nav h1:hover{
    scale: 1.15;
}
nav ul{
    display: flex;
    gap: 2rem;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-size: 1.8rem;
    position: relative;
    color: var(--grey-tint);
}
nav ul li a::before{
    content: "";
    position: absolute;
    width: 0;
    background: var(--grey-tint);
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: .5s;
}
nav ul li a:hover::before{
    width: 100%;
}
.dark-theme-mode{
    width: 4rem;
    height: 4rem;
    margin-top: 4px;
    border-radius: 50%;
    padding: .5rem;
    background-color: var(--grey-tint);
}
.light-theme-mode{
    width: 4rem;
    height: 4rem;
    margin-top: 4px;
    border-radius: 50%;
    padding: .5rem;
    background-color: var(--grey-shade);
}

/* ----- HERO SECTION ----- */
.hero-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    align-self: center;
    height: calc(100vh - 7rem);
    max-width: 100rem;
    width: 80%;
    position: relative;
}
.profile-picture{
    min-width: 30rem;
    min-height: 30rem;
    width: 35rem;
    height: 35rem;
}
.profile-picture img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit:cover;
}
.self-intro{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 50rem;
    width: 90%;
}
.self-intro h2{
    font-size: 1.25rem;
    color: var(--grey-base);
}
.self-intro h1{
    color:  var(--black);
    font-size: 3.5rem;
}
.name{
    color: red;
    display: inline-block;
}
.self-intro p{
    font-size: 2rem;
    margin-bottom: 3rem;
    color: var(--black);
}
.resume{
    display: flex;
    gap: 2rem;
}
.self-intro a{
    display: inline-block;
    border: none;
    border-radius: 5px;
    padding: 1rem 2rem;
    font-size: 1.75rem;
    text-decoration: none;
    font-weight: 600;
    background-color: var(--grey-shade);
    color: var(--white);
}
.self-intro a:hover{
    background-color: var(--grey-base);
}
.down-arrow{
    color: var(--black);
    height: 3.5rem;
    width: 3.5rem;
    position: absolute;
    top: 90%;
    left: auto;
    animation-name: down-arrow;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}
@keyframes down-arrow {
    0%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(1rem);
    }
    100%{
        transform: translateY(0rem);
    }
}

/* ----- ABOUT SECTION ----- */
.goto-top{
    position: fixed;
    width: 4.5rem;
    height: 4.5rem;
    right: 3rem;
    bottom: 3rem;
}

.about-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80%;
    margin:0 auto;
}
.about-container h1{
    font-size: 4rem;
    margin-bottom: 1.5rem;
    color: var(--black);
}
.about-container p{
    font-size: 1.75rem;
    max-width: 80rem;
    margin-bottom: 1.5rem;
    color: var(--black);
}

/* ----- TECH SECTION ----- */
.tech-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100rem;
    max-width: 80%;
    margin: 0 auto 5rem;
}
.tech-section h1{
    font-size: 4rem;
    margin-bottom: 1.5rem;
    color: var(--black);
}
.tech-stack{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
}
.tech-stack div{
    width: 15rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--black);
    border-radius: 5px;
    gap: 1rem;
}
.tech-stack div img{
    width: 50%;
}
.tech-stack div span{
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--black);
}

/* ----- PROJECT SECTION ----- */
.project-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 100rem;
    margin: 0 auto 5rem;
}
.project-container h1{
    font-size: 4rem;
    margin-bottom: 1.5rem;
}
.project-section{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    gap: 4rem;
}
.project-section div{
    background: var(--grey-tint);
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-items: center;
    justify-self: center;
    padding: 1.75rem;
    border: 3px solid var(--black);
    border-radius: 5px;
    text-align: center;
}
.project-section h2{
    font-size: 2rem;
    color: var(--black);
}
.project-section p{
    font-size: 1.75rem;
    margin: 2rem 0;
    color: var(--black);
}
.project-section div a{
    text-decoration: none;
    border: 2px solid var(--black);
    border-radius: 5px;
    padding: 1rem;
    font-size: 1.5rem;
    color: var(--white);
    background: var(--grey-base);
}
/* ----- CONTACT SECTION ----- */
.contact-container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
    padding: 2rem;
    background: linear-gradient(to bottom,var(--grey-base),var(--grey-shade));
    max-width: 1000px;
    width: 80%;
    border-radius: 5px;
    border: none;
}
.contact-container h1{
    font-size: 4rem;
    margin-bottom: 4rem;
    color: var(--black);
}
.contact-container form{
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 60rem;
    border: none;
}
form label{
    font-size: 1.5rem;
    color: var(--white);
}
form input{
    padding: 1rem 1.5rem;
    border-radius: 4px;
    border: none;
}
form textarea{
    padding: 1rem 1.5rem;
    height: 25rem;
    border-radius: 4px;
    border: none;
}
form button{
    padding: 1rem;
    width: 90%;
    max-width: 30rem;
    margin: auto;
    border-radius: 4px;
    border: none;
    background-color: var(--white);
}
form button:hover{
    background-color: var(--grey-tint);
}

@media (max-width: 80rem) {
    /* 1rem = 16px => 80rem = 1280px */
    html{
        font-size: 55%;
    }
}
@media (max-width: 68rem) {
    html{
        font-size: 50%;
    }
}
@media (max-width: 60rem ) {   
    /* 1 rem = 16px => 60rem  = 960px */
    .hero-section{
        padding-top: 4rem;
        grid-template-columns: 1fr;
        grid-template-rows: 45vh 35vh;
    }
    .self-intro{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: flex-start;
    }
}
@media (max-width: 40rem) {
    nav ul{
        display: none;
    }
    .down-arrow{
        top: 87%;
    }
}
@media (max-width: 30rem) {
    /* 480px */
    .hero-section{
        padding-top: 0;
    }
    .self-intro h1{
        font-size: 3rem;
    }

}
@media (max-width:479px) {
    .self-intro h1{
        font-size: 2.5rem;
    }
}
