
@media (min-width:350px) and (max-width:393px) {
    nav h1{
        font-size: 6vw;
        margin-left: auto;
        margin-right: auto;
    }
    nav ul{
        display: none;
    }
    .info{
        display: flex;
        padding: 10% 5% 18% 5%;
    }
    .right-info{
        margin:0;
    }
    .left-info img{
        width: 33vh;
        height: 33vh;
        margin-left: 20px;
    }
    .left-info::before{
        width: 35vh;
        height: 35vh;
        left: 12px;
        top: -8px;
    }
    .left-info::after{
        width: 37vh;
        height: 37vh;
        left: 3px;
        top: -15px;
    }
    .right-info{
        margin-top: 10%;
        text-align: center;
    }
    .right-info p{
        font-size: 15px;
    }
    .right-info h1{
        font-size: 20px;
    }
    .scroll{
        margin-top: 10%;
    }
    .scroll button{
        padding: 15px 20px;
        letter-spacing: 0px;
    }
    .down-arrow{
        top: calc(100vh - 130px);
        left: 46%;
    }
    #about h1{
        font-size: 6vw;
        padding-bottom: ;
    }
    #about h1::after{
        top: 35px;
    }
    #about h4,h5{
        font-size: 16px;
        width: 90vw;
        padding: 0 10px 20px 10px;
    }
    .tech-stack{
        padding: 0;
    }
    #skills{
        gap: 0;
        padding-bottom: 10px;
    }
    #projects-container{
        padding-bottom: 20px;
    }
    .projects{
        gap: 20px;
        margin: 10px;
    }
    form{
        padding: 20px;
    }
    form input{
        width: 60vw;
    }
}